a{text-decoration: none;color:#666;}
i{font-style: normal;}
input{border: 0;font-size: 14px;}
.register{margin:0 auto;width: 965px;height: 502px;padding-top: 75px;margin-top: 20px;background:url(../images/dengru.jpg) left 112px no-repeat;}
.register .zcLogo{width: 965px;height: 100px;}
.register .zcLogo img{width: 210px;height: 100px;}
.register .zhuce{border: 1px solid #FFE0EF;height: 400px; left: 830px; top: 92px;width: 304px;padding: 0 20px 20px;position: absolute;}
.register .zhuce .zhuceTop{color: #E31256;line-height: 60px;margin-bottom: 13px;width: 304px;height: 60px;}
.register .zhuce .zhuceTop .zctLeft{font-size: 20px;color: #f450a2;float: left;width: 80px;height: 60px;display: inline-block;}
.register .zhuce .zhuceTop .zctRight{font-size: 12px;float: right;height: 60px;line-height:60px;display: inline-block;}
.register .zhuce .zhuceTop .zctRight i{color: #f450a2;}
.register .zhuce .zhuceTop .zctRight a{color: #666;}

/*表格*/
.form{width: 304px;height: 284px;position: relative;}
.form .text{padding-left:35px;background:url(../images/sign.png) no-repeat -37px -2px;width: 269px;height: 39px;border: 1px solid #CFCFCF;margin-bottom: 26px;position: relative;}
.form .kongkong{height:26px;background:#ffebec;line-height: 26px;border: 1px solid #ffbdbf;position: absolute;width: 306px;top: 29px;font-size: 12px;display: none;}
.form .kong{height:26px;background:#ffebec;line-height: 26px;border: 1px solid #ffbdbf;position: absolute;width: 306px;top: 29px;font-size: 12px;display: none;}
.form .kong1{height:26px;background:#ffebec;line-height: 26px;border: 1px solid #ffbdbf;position: absolute;width: 306px;top: 100px;font-size: 12px;display: none;}
.form .kong1kong1{height:26px;background:#ffebec;line-height: 26px;border: 1px solid #ffbdbf;position: absolute;width: 306px;top: 100px;font-size: 12px;display: none;}
.form .kong2{height:26px;background:#ffebec;line-height: 26px;border: 1px solid #ffbdbf;position: absolute;width: 306px;top: 257px;font-size: 12px;display: none;}
.form .kong3{height:26px;background:#ffebec;line-height: 26px;border: 1px solid #ffbdbf;position: absolute;width: 306px;top:198px;font-size: 12px; display: none;}
.form .pass{padding-left:35px;background:url(../images/sign.png) no-repeat -37px -43px;width: 269px;height: 39px;border: 1px solid #CFCFCF;margin-bottom: 26px;position: relative;}
.form .zdong{font-size: 12px;color: #666;height: 20px;line-height: 20px;margin-bottom: 10px;margin-top: 1px;}
.form .zdong .gou{float: left}
.form .zdong .wj{float: right;display: inline-block;}
.form .yan{width: 300px;height: 37px;margin-bottom: 26px;}
.form .yan .yam{padding-left: 10px;width:96px;height:37px;border: 1px solid #CFCFCF;}
.form .yan .code{font-size: 14px;background: #ccc;width:90px;height:35px;border: 1px solid #CFCFCF;text-align: center;}
.form .yan a{font-size: 12px;}
.form .duanxi{width: 304px;height: 39px;margin-top: 10px;margin-bottom: 26px;}
.form .duanxi .xx{padding-left: 10px;width: 136px;height: 37px;border: 1px solid #CFCFCF;}
.form .duanxi .get{font-size:12px;border: 1px solid #d9d9d9;text-decoration: none;cursor: pointer;padding: 0 8px;display: inline-block;line-height: 37px;height: 37px;font-weight: 700;color: #666;text-align: center;width: 128px;}
.form .tiqiao{margin-top: 15px;}
.form .tiqiao .go{text-align:center;border-radius: 2px;display: inline-block;color: #FFF;
background-color: #F450A2;padding: 4px 14px 7px;width: 255px; height: 30px;line-height: 30px;font-size: 20px;}

/*尾部*/
.reglast{text-align: center;padding: 30px;line-height: 22px;color: #ccc;font-size: 12px;font-family: Verdana,Geneva,sans-serif;}
