

*{
	margin: 0;
	padding: 0;
	border: none;

	list-style: none;
	font-family: "微软雅黑";
}
body{
	background: #f9f9f9;
}
a{
	text-decoration: none;
	color: #666;
}

.header .headerLeft a:hover,.headerRight ul a:hover,.top form ul li>a:hover{
	color:deeppink;
}
.header,.top,.nav,.newper,.mod-qhh,.index-outlets,.w1100,.w1000{
	width: 1100px;
	margin: 0 auto;
	
}	
em,i{
	font-style: normal;
}
/*==================header==============================*/	
.bg{
	background: #f2f2f2;
	border-bottom:1px solid #e5e5e5;
}
.header{
	height: 29px;
	line-height: 29px;
	font-size:12px ;
	margin: 0 auto;
	position: relative;	
}		
.header .headerLeft{
	width: 300px;
	height: 29px;
	float: left;	
}
.header .headerLeft a {
	background: url(../img/phone.jpg) left center no-repeat ;
	padding-left:15px;	
	color: #666;
}	
.header .headerRight{
	display: inline-block;
	float: right;
	width: 500px;
	height: 29px;
	line-height: 29px;
	color: #666;
}
.headerRight #addname{
	float: left;
	margin-left: 190px;

}
.headerRight .nihao{
	float: left;
	margin-left: 190px;
}
.headerRight ul{
	float: left;
	margin-left: 20px;
}
.headerRight ul li{
	float: left;
	font-size: 12px;
	color: #666666;
}
.headerRight ul .lis{
	border-left: none;
}
.headerRight ul a{
	color: #666;
	border-left: 1px solid #666;
	padding: 0 6px;
}
.headerRight p{
	float: right;
}
/*================top=================================*/
.bg2{
	background: white;
}
.top{
	height: 130px;	
}
.top .miya img{
	display: block;
	width: 215px;
	height: 55px;
	margin-top: 30px;
	float: left;
}
.top form{
	width: 475px;
	height: 60px;
	float: left;
	margin-left: 200px;
	margin-top: 45px;	
}
.top form .in{
	width: 383px;
	height: 30px;
	padding: 0 5px;
	border: 2px solid deeppink;
	float: left;
	color: #666;
	font-size: 12px;
	outline: none;
}
.top form .put{
	height: 34px;	
	width: 78px;
	float: left;
	color: white;
	background: deeppink;
	cursor: pointer;
	font-size: 12px;
	outline: none;
	
}
.top form ul{
	height:15px;
	float: left;
	margin-top: 9px;
}
.top form ul li{
	height: 35px;
	float: left;

}
.top form ul li>a{
	width: 300px;
	height: 35px;
	border-right: 1px solid #666;
	color: #666;
	padding: 0 12px;	
	font-size: 12px;
}

.top form ul .a2{
	border-right: none;
}
.top .logoLeft{
	position:relative;
	width: 144px;
	height:34px;
	float: right;
	margin: 28px;
	margin-top: 45px;
	}
.top .logoLeft .shop{
	display:block;
	width: 142px;
	height: 32px;
	color: #4f4f4f;
	font-size:14px;
	border: 1px solid #e5e5e5;
	text-align: center;
	line-height: 32px;
	position: absolute;
	z-index: 2;
	}
.top .logoLeft .shop .car{
	background: #ff3893;
	width: 36px;
	height: 32px;
	display: inline-block;
	float: left;
	}
.top .logoLeft .shop .car img{
	width: 16px;
	height: 16px;
	display: block;
	margin: 8px;}
.top .logoLeft .shop  strong{
	display: block;
	display:none;
	float: left;
	margin-left: -5px;
	font-weight: normal;
	color: #ccc;
	}
.top .logoLeft .carlast{
	display: none;
	width: 300px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	position: absolute;
	top: 38px;right: 0;
	border: 1px solid #fa4b9b;
	background-color: #fff;
	margin-top: -2px;
	z-index: 1;
	font-size: 12px;
	}
	
.lenovoWord{
	position: absolute;
	top: 107px;
	left:497px;
	width: 394px;
	border: 1px solid #e5e5e5;
	z-index: 100;
}
.lenovoWord a{
	display: block;
	padding: 0 10px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	background: #fff;
}

	
/*======nav============================*/
.bg3{
	background: #ff3893;
	z-index: 3;
	position: relative;
}
.nav{
	height: 46px;
	overflow: hidden;
	position: relative;
}
.nav ul{
	/*height: 46px;
	width: 416px;
	margin-left: 180px;
	line-height: 46px;*/
	margin-left: 230px;
	height: 46px;
	line-height: 46px;
}
.nav>ul>li{
	float: left;
	padding: 0 30px;
}
.nav ul .fys{
	position: relative;
}
.nav ul a{
	color: white;
	font-size: 16px;
}
.active{
	background: #ec0971;
}
.nav ul li:hover{
	background: #ec0971;
}
/*======正品保证=========================================*/
.list{
	width: 124px;
	height: 111px;
	position: absolute;
	top: 46px;
	left: 604px;
	overflow: hidden;
	background-color: white;
	display: none;
}
 .list>span{
	margin-top: -1px;
	display: block;
	padding: 0 22px;
	border-top: 1px dashed #ddd;
	z-index: 2;
	font-size: 16px;
	height: 37px;
	line-height: 37px;
	text-align: center;
}
.active{
	background: #ec0971;
}

/*=========全部商品分类============================================*/
 .menu{
	/*background-color:rgba(255,255,255,.95) ;*/
	position: absolute;
	top: -3px;
	left: 82px;
	cursor: pointer;
	width: 230px;
}

.dls>span{
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	width: 3px;
	height: 75px;
	background: red;
	display: none;
}
.tit{
	background-color: #f92a85;
	position: relative;
	z-index: 2;
	width: 230px;
	height: 52px;
	line-height: 52px;
	color: #fff;
}
.tit h3{
	/*display: block;*/
	font-weight: bold;
	padding-left: 22px;
	font-size: 16px;
 
}
.dls{
	display: block;
	position: relative;
	background: white;
	background: rgba(255,255,255,0.8);
}
.menu dl{
	cursor: default;
	margin-top: -1px;

}
.menu dl dt{
	padding: 0 12px;
	position: relative;

}
.menu dl dt .inner{
	padding: 5px 10px 9px;
	border-top: 1px dashed #d1d1d1;
}
.menu dl dt strong{
	display: block;
	/*widows: 13em;*/
	white-space: nowrap;
	overflow: hidden;
	
}
.menu dl dt strong>a{
	color: #fb60a7;
}
.menu dl dt p{
	min-height: 36px;
	height: auto!important;
	max-height: 36px;
	margin-top: 3px;
	width: 170px;
	font-size: 12px;
	overflow: hidden;
}
.menu dl dt p>a{
	display: inline-block;
	vertical-align: middle;
	line-height: 1px;
	margin-right: 6px;
	color: #666;
}
.menu dl dt p>span{
	position: absolute;
	top: 50%;
	right: 8px;
	margin-top: -16px;
	font-size: 24px;
	color: #d6d6d6;
	/*font-weight: 400;*/
}
dt:hover{
	/*border-left:2px solid deeppink;*/
	
}
.menu a:hover{
	color:deeppink;
}

dl dt .inner:hover{
	border-top: none;
	border-bottom: none;
	border: none;
}
/*====全部商品分类>>>>>弹出框===========================================*/
.menu dd{
	min-height: 385px;
	height: auto!important;
	display: none;
	position: absolute;
	top: 0;
	left: 230px;
	border: 1px solid #e5e5e5;
	background: #fff;
}
.menu .colums{
	position: relative;
	float: left;
	margin: 15px 25px;
}
.menu .colum{
	margin: 0 0 20px;
	width:250px ;
}
.menu .colum h3{
	padding-bottom: 8px;
	font-size: 14px;
	border-bottom: 1px solid #e5e5e5;
	color: #222;
}
.menu .colum p{
	margin-top: 10px;
}
.menu .colum p>a{
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	line-height: 2;
	font-size: 12px;
}
.menu .colum p>a.hot{
	color: #fa4b9b;
}

/*====热卖大牌================================*/
.menu .brands{
	float: right;
	margin: 15px 20px 15px 13px;
	width: 244px;

}
.menu .brands h3{
	padding-bottom: 8px;
	font-size: 14px;
	color: #222;
}
.clearfix{
	zoom: 1;
}
.menu .brands a{
	float: left;
	margin: 0 0 -1px -1px;
	width: 80px;
	height: 80px;
	overflow: hidden;
	border: 1px solid #e5e5e5;
	font-size: 0;
}
.menu .brands a .table{
	display: table;
	width: 100%;
	height: 100%;
}
.menu .brands a .table p{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.menu .brands a img{
	width: 100%;
}
a img{
	border: 0;
}
/*====轮播图=====================================*/
#topSwiper {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#topSwiper .swiper-wrapper{
    width: 100%;
    height: 100%;
}
#topSwiper .swiper-wrapper a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
#topSwiper img{
    width: 100%;
    height: 100%;
}
#topSwiper .swiper-pagination{
    bottom: 0px;
}

/*==热卖品牌=========================================*/	
.w3000{
	margin: 0 auto;
	width: 1000px;
}		
.index-brand{
	margin: 10px 0 0 240px;
	width: 860px;
	height: 105px;
	background: white;
}	
.index-brand h3{
	padding: 45px 27px;
	zoom: 1;
	font-size: 28px;
	color: #444;
	float: left;
}
.index-brand>.brands{
	display: inline-block;
	vertical-align: middle;
	float: left;
}
.index-brand>.brands img{
	margin: 15px 12px;
	width: 94px;
}
.index-brand i{
	width: 1px;
	height: 100%;
	zoom: 1;
}
/*=-=====新人专区，福利独享=========================*/
.newper{
	margin-top: 10px;
}

/*====为你推荐，千万妈妈精明之选============================================*/
.mod-qhh{
	margin-top:25px ;
	height: 755px;
}
.mod-qhh h3{
	font-size: 24px;
	color: #444;
}
.mod-qhh h3>span{
	margin-left: 18px;
	vertical-align: -1px;
	font-weight: 400;
	font-size: 18px;
	color: #999;
}
/*.layout{*/
	/*margin-top: 20px;	*/
	/*!*height: 353px;*!*/
/*}*/
/*.layout>a{*/
	/*float: left;*/
	/*margin-right: -1px;*/
	/*width: 219px;*/
	/*border: 1px solid #E5E5E5;*/
	/*background-color: #fff;*/
	/*margin-top: -1px;*/
	/*position: relative;*/
/*}*/
/*.gds-img{*/
	/*position: relative;*/
/*}*/
/*.gds-img>img{*/
	/*!*width: 100%;*!*/
	/*width: 219px;*/
	/*height: 219px;*/
/*}*/

/*.mod-qhh .tite{*/
	/*white-space: normal;*/
	/*position: relative;*/
	/*line-height: 1.5em;*/
	/*height: 3em;*/
	/*overflow: hidden;*/
	/*color: #222;*/
	/*font-size: 12px;*/
	/*font-weight: 700;*/
	/*width: 189px;*/
	/*padding: 15px;*/
/*}*/
/*.mod-qhh .desc{*/
	/*font-size: 12px;*/
	/*color: #555;*/
	/*padding: 15px;*/
/*}*/
/*.mod-qhh .price{*/
	/*line-height: 1.2;*/
	/*margin-top: 8px;*/
	/*padding: 15px;*/
/*}*/

/*.mod-qhh .news {*/
	/*font-size: 20px;*/
	/*font-style: normal;*/
	/*color: #FA4B9B;*/
	/*padding-left: 15px;*/
/*}*/

/*.mod-qhh .old {*/
	/*font-style: normal;	*/
	/*font-size: 12px;*/
	/*text-decoration: line-through;*/
	/*color: #999;*/

/*}*/
/*.mod-qhh .buy{*/
	/*font-size: 12px;*/
	/*color: #666;*/
	/*padding-left: 15px;	*/
	/*padding-bottom: 20px;*/
/*}*/
 /*.ahref .btn{*/
	/*border-radius: 15px;*/
	/*position: absolute;*/
	/*right: 10px;*/
	/*bottom: 20px;*/
	/*padding: 0 15px;*/
	/*height: 28px;*/
	/*line-height: 28px;*/
	/*background-color: #FA4B9B;*/
	/*font-size: 12px;*/
	/*color: #fff;*/

/*}*/
/*.mod-qhh .layout .tite:hover{*/
	/*color:deeppink;*/
/*}*/

/*----今日特卖------------------------------------------------------*/
.index-outlets{
	margin-top: 25px;
	height: 3100px;
}
.index-outlets .mod-h4{
	font-size: 24px;
	color: #222;
}
.mod-h4 span{
	margin-left: 18px;
	vertical-align: -1px;
	font-weight: 400;
	font-size: 18px;
	color: #999;
}


.index-outlets .layout{
	margin-top: 20px;
	
}
.index-outlets .layout .block{
	margin-bottom: 15px;
	padding: 6px 0;
	background-color: #fff;
	min-height: 350px;
	border: 1px solid #e5e5e5;
}
.block img{
	height: 350px;
	width: 750px;
	margin-top: -6px;
}
.index-outlets .layout .beiban{
	position: relative;
	float: left;
	margin-left: 6px;
	width: 750px;
	height: 350px;
	overflow: hidden;
	background: #f0f0f0;
}
.index-outlets .layout .beiban i{
	position: absolute;
	top: 14px;
	right: 0;
	width: 0;
	height: 0;
	border-top:10px solid transparent ;
	border-right: 12px solid #fff;
	border-bottom: 10px solid transparent;
}
/*===================================*/
.index-outlets .rank{
	float: right;
	padding: 0 18px;
	width: 306px;
	height: 350px;
	overflow: hidden;
}
.index-outlets .rank>a{
	display: block;
	margin-top: -1px;
	padding: 18px 15px;
	border-top: 1px dashed #c4c4c4;
	cursor: pointer;
}
.index-outlets .rank .l{
	position: relative;
	float: left;
	margin-right: 12px;
	width: 78px;
	height: 78px;
	border: 1px solid #efefef;
	overflow: hidden;
}
.index-outlets .rank a:hover{
	color: deeppink;
}
.rank img{
	width: 76px;
	height: 72px;
}
.index-outlets .rank .l .r1{
	background-position: 0 0;
}
.index-outlets .rank .l .r2{
	background-position: 0 -20px;
}
.index-outlets .rank .l .r3{
	background-position: 0 -40px;
}
.index-outlets .rank .l i{
	position: absolute;
	top: 0;
	left: 0;
	width: 45px;
	height: 18px;
	line-height: 18px;
	background: url(/static/images/top.png);
	font-size: 11px;
	color: #fff;
	font-style: normal;
}
.index-outlets .rank .r{
	float: none;
	display: block;
	overflow: hidden;
	font-size: 13px;
}
.index-outlets .rank .titt{
	margin-top: 5px;
	height: 36px;
	overflow: hidden;
	font-size: 13px;
	margin-bottom: 15px;
}
.index-outlets .rank .price{
	margin-top: 15px;
	line-height: 1;
}
.index-outlets .rank .price .new{
	margin-right: 5px;
	font-size: 14px;
	
}
.rank .new{
	color: #FA4B9B;
}
.index-outlets .rank .new em{
	font-size: 18px;
	font-style: normal;
	color: #FA4B9B;
}
.index-outlets .rank  .old{
	font-size: 12px;
}
.rank .old{
	text-decoration: line-through;
	color: #999;
}



/*=====信赖，无忧=========================================*/
.nfooter{
	font-size: 12px;
	clear: both;
	margin-top: 20px;
}
.genuine{
	text-align: center;
	border-top: 1px solid #dfdfdf;
	background: #fff;
}
.genuine .w1100{
	padding: 20px 0 15px;
	border-bottom: 1px solid #f2f2f0;
}
.genuine a{
	display: inline-block;
	vertical-align: middle;
	width: 167px;
	font-size:12px;
	line-height: 1.4;
}
.genuine a i{
	background:url(../img/9d3c041d36937edaa4a624bb498cad96.png) left center no-repeat ;
	display: block;
	width: 60px;
	height: 60px;
	
	margin: 0 auto;
}
.genuine a i .icon-g1{
	background-position: 0 0;
}
.genuine a i .icon-g2{
	background-position: -60px 0;
}
.genuine a i .icon-g3{
	background-position: -120px 0;
}
.genuine a i .icon-g4{
	background-position: -180px 0;
}
.genuine a i .icon-g5{
	background-position: -240px 0;
}
.genuine a i .icon-g6{
	background-position: -300px 0;
}
.genuine a b{
	display: block;
	margin-top: 5px;
	font-size: 15px;
	color: #333;
}
/*=====nhelp============================*/
.nhelp{
	padding-top: 18px;
	background: #fff;
}
.nhelp .l{
	float: left;
	display: inline;
	margin-left: 58px;
}
.nhelp .r{
	border-left: 1px solid #f2f2f0;
	float: right;
	display: inline;
}
.nhelp .w1000{
	height: 168px;
}
.nhelp .EWM{
	height: 168px;
	text-align: right;
	width: 186px;
}
.nhelp ul{
	float: left;
	width: 132px;
	font-size: 12px;
}
/*.nhelp .EWM li .strong{
	padding-bottom: 8px;
}*/
.nhelp ul .strong{
	font-size: 14px;
	font-weight: 700;
	padding-bottom: 5px;
	padding-bottom: 8px;
	color: #333;
}
.nhelp .EWM li{
	padding-left: 18px;
	float: left;
}
.nhelp ul li{
	line-height: 26px;
	height: 26px;
	padding-left: 32px;
	font-size: 12px;
	color: #666;
}
.nhelp ul a:hover{
	color: deeppink;
}
.nhelp .EWM li img{
	float: left;
}
.nhelp .EWM li div.right{
	float: left;
	display: inline;
	width: 76px;
	margin-left: 7px;	
}
.nhelp .EWM li div.right div{
	position: relative;
	clear: both;
}
.nhelp .EWM li div.right div .wxmore{
	position: absolute;
	right: 68px;
	top: -54px;
	display: none;
	
}

/*===底部===================================*/
.Nlink{
	text-align: center;
	padding-top: 15px;
	line-height: 22px;
	color: #979797;
	background: #fff;
	border-top: 1px solid #f2f2f0;
}
.Nlink .w1000{
	font-size: 12px;
}
.Nlink p{
	color: #979797;
	padding-bottom: 10px;
}
.Nlink p a{
	padding: 0 10px;
	font-size: 12px;
}
.Nlink p a:hover{
	color: deeppink;
}


/*=======二维码===========================*/
.ewm{
	/*margin-right: 574px;*/
	position: fixed;
	top: 345px;
	left: -40px;
	display: none;
}

/*=======右侧==========================*/

#rightlist{
	right:1%;
	background:white;
	border-radius:1%;
	position: fixed;
	width: 54px;
	height: 252px;
	/*z-index: 100;*/
	margin-left: 90%;
	display: none;
	top: 345px;
	}
#rightlist #rightReturn ul{
	border: 1px solid #e6e6e6;
	width: 52px;
	height: 226px;
	}
#rightlist #rightReturn ul li{
	line-height:22px;
	text-align:center;
	color:#666;
	width:52px;
	height:56px;
	/*padding: 4px 0 2px 0;*/ 
	border-bottom: 1px solid #e6e6e6;
	cursor: pointer;
	position: relative;
	}
#rightlist #rightReturn ul li:hover{
	background: #fafafa;
	}
#rightlist #rightReturn ul .lithere .lianxi{
	overflow: hidden;
	margin-left: -210px;
	margin-top: -47px;
	width: 157px;
	height: 45px;
	background:url(../images/lianxidianhua.gif) no-repeat;display: none;
	}
#rightlist #rightReturn ul .lifour .gzh{
	margin: -191px 0 0px -210px;
	background: url(../images/miyagzh.png) no-repeat;
	width: 157px;
	height: 193px;
	display: none;
	}
#rightlist #rightReturn ul li i{
	display: block;
	margin: 0 auto;
	width: 28px;
	height: 30px;
	line-height: 41px;
	font-size: 22px;
	}
#rightlist #rightReturn .sideTop{
	position: relative;
	margin-top: -2px;
	height: 28px;
	background: #fa4b9b;
	cursor: pointer;
	}
#rightlist #rightReturn .sideTop i{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -5px 0 0 -6px;
	right: 0;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 10px solid #fff;
	}



