
{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登录 - 蜜芽，中国领先的进口母婴限时特卖商城</title>
		<!--
        	作者：1019333467@qq.com
        	时间：2016-10-08
        	描述：登录页面
        -->
		<!--title中显示图片-->	
		<link rel="stylesheet" href="{% static 'css/register.css' %}" />
		<script type="text/javascript" src="{% static 'js/jquery-1.12.3.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/zhuce.js' %}" ></script>
{#		<script src="{% static 'js/jiaoben.js' %}"></script>#}
	</head>
	<body>
		<!--主体内容-->
		<div class="register">
			<div class="zcLogo">
				<a href="index.html"><img src="{% static 'img/miya.jpg' %}"/></a>
			</div>
			<div class="bjtp">
				<img src="{% static 'imag/bjtp.jpg' %}" />
			</div>
			<div class="zhuce">
				<div class="zhuceTop">
					<span class="zctLeft">登入蜜芽</span>
					<span class="zctRight">
						<i>还没有蜜芽账号？</i>
						<a href="{% url 'miya:register' %}" target="_blank">30秒注册</a>
					</span>
				</div>
				
				<!--表单-->
				<form class="form" action="{% url 'miya:register' %}" method="post">

                    {% csrf_token %}
					<input type="text" id="haoma" placeholder="手机号" class="text"/>
					<p class="kong">手机号不能为空</p>
					<p class="kongkong">手机号错误</p>
					
{#					<p class="kong3">输入的验证码错误</p>#}
{#					<p class="kongg3">验证码不能为空</p>#}
{#					<div class="yan">#}
{#						<input type="text" id="yzm" placeholder="输入验证码" class="yam">#}
{##}
{#						<input  type="text" id="code1" value="" class="code" >#}
{#						<a href="#" id="look">看不清</a>#}
{#					</div>#}
					
{#					<p class="kong2">短信验证码错误</p>#}
{#					<div class="duanxi">#}
{#						<input type="text" id="duanx" class="xx" placeholder="短信验证码" value=""/>#}
{#						<a href="#" class="get" id="get">获取短信验证码</a>#}
{#					</div>#}
					
					<input type="password" id="password" class="pass" placeholder="密码"/>
					<p class="kong1">长度为6-14个字符，建议使用字母加数字或符号组合</p>
					<p class="kong1kong1">密码错误</p>
					
					
					<input type="password" id="passwords" class="passs" placeholder="确认密码" />
					<p class="kongg2">长度为6-14个字符，建议使用字母加数字或符号组合</p>
					<p class="kong2kong2">密码不一致</p>
					
					<!--<p class="zdong">
						<input checked="checked" id="agreeuser"  type="checkbox" class="gou">自动登入
						<span class="wj">
							忘记密码？
						</span>
					</p>-->
					<p class="jieshou">
						<input checked="checked" id="agreeuser"  type="checkbox" class="gou">我已阅读并接受<span>《蜜芽服务条款》</span>
					</p>
					<p class="tiqiao">
						<input type="submit" value="注册" class="go" id="come">
					</p>
				</form>
			</div>
		</div>
		
		<!--尾部-->
		<div class="reglast">
			Copyright ©2016 北京花旺在线商贸有限公司 Miyabaobei.com 保留一切权利。客服热线： 400-789-2000。京ICP证140430号 京ICP备14006215号
		</div>
	</body>
</html>
